.button {
  padding: 15px 20px;

  background-color: var(--dark);

  border-radius: 10px;
  border: none;

  font-size: 18px;
  color: var(--light);

  cursor: pointer;

  transition: background-color 0.3s;

  &:hover {
    background-color: var(--dark_hover);
  }

  &:active {
    background-color: var(--dark_active);
  }

  &_primary {
    width: 50%;
    background-color: var(--primary);
    justify-self: center;

    &:hover {
      background-color: var(--primary_hover);
    }

    &:active {
      background-color: var(--primary_active);
    }
  }
}
