.form {
  position: relative;
  z-index: 1;

  width: 100%;
  margin: 50px 0;
  padding: 20px;

  border-radius: 10px;

  background-color: rgba($color: #2424244d, $alpha: 0.3);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}
