.textarea {
  width: 100%;
  min-height: 100px;

  padding: 20px;

  border: none;
  border-radius: 10px;
  background-color: var(--dark);

  color: var(--light);
  font-size: 16px;

  resize: vertical;

  &:focus {
    outline: 1px solid var(--primary);
  }
}
